{% extends "./base.html" %}
{% load static %}
{% block body %}

<div class="fixed w-full h-screen flex justify-between">
    <div x-data="{geometries_open : false, simulations_open : false, details_open : false}" class="flex items-start justify-start p-[16px] space-x-4">
        <div x-data="$store.scene" class="w-[256px] max-h-[calc(100%-32px)] rounded-[8px] p-[8px] bg-white flex flex-col">
            <button @click="geometries_open = !geometries_open" class="w-[100%] h-[32px] text-[20px] hover:text-black">GEOMETRIES</button>
            <div x-show="geometries_open" class="w-[100%] h-full overflow-y-auto text-center text-[16px] flex flex-col">
                <template x-for="name in children">
                    <button @click="details_open = true" class="hover:text-black" x-text="name"></button>
                </template>
            </div>
            <button @click="simulations_open = !simulations_open" class="w-[100%] h-[32px] text-[20px] hover:text-black">SIMULATIONS</button>
            <div x-show="simulations_open" class="w-[100%] h-full overflow-y-auto text-center text-[16px]">
                <template x-for="name in children">
                    <li x-text="name"></li>
                </template>
            </div>
        </div>
        <div x-show="details_open" @click.outside="details_open = false" class="w-[256px] h-[384px] bg-white"></div>
    </div>
    <div class="flex items-center justify-end p-[16px]">
        <div class="flex flex-col items-end justify-center space-y-4">
            <div class="h-4 pl-4 pr-4 space-x-4 flex justify-end">
                <div class="h-full flex justify-end">orbit</div>
                <div class="h-full flex justify-end">mouse 0</div>
            </div>
            <div class="h-4 pl-4 pr-4 space-x-4 flex">
                <div class="h-full flex justify-end">pan</div>
                <div class="h-full flex justify-end">mouse 1</div>
            </div>
            <div class="h-4 pl-4 pr-4 space-x-4 flex">
                <div class="h-full flex justify-end">zoom</div>
                <div class="h-full flex justify-end">mouse 2</div>
            </div>
            <div class="h-4 pl-4 pr-4 space-x-4 flex">
                <div class="h-full flex justify-end">rotate</div>
                <div class="h-full flex justify-end">mouse 3</div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}